.note-window {
  padding: 1.5rem;
  height: 100vh;
  overflow-y: auto;
  margin: 1.5rem;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color:  #888 transparent;
  ::-webkit-scrollbar {
    height: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
}
